<nav>
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li><a href="{{ path('home')}}"><b>Skyline Housing</b></a></li>
        <li><a href="{{ path('home')}}">Home</a></li>
        <li><a href="{{ path('properties')}}">Properties</a></li>
        <li><a href="{{ path('admin.property.index')}}">Administration</a></li>
        
        
            {% if app.user  %}
            <li><a href="{{ path('admin.property.create') }}" >Create property</a></li>
            <li><a href="{{path('logout')}}">Log Out</a></li>
            {%  endif  %}
        
      </ul>
    </div>
</nav>